.top-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'pic pic pic'
    'info info info'
    ;
}
.pic{
    grid-area: pic;
}

.profilepic{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    margin-left: 30%;
    margin-top: 10%;
}

.info{
    grid-area: info;
}

.intro{
    margin-left: 30%;
    background-color:transparent;
    font-size: 7mm;
    line-height: 1.5;
}